<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
    <ul>
        <li><a href="/static_files">static files</a></li>
        <li><a href="/session">session login</a></li>
            <form action="/score" method="POST">
        <li>score review (if statements): <input type="text" name="score"> <input type="submit" value="review"></li>
            </form>
        <li><a href="/student">score input output into a table (sending form data to a template and for statement)</a></li>
        <li><a href="/converter">temperature converter</a></li>
        <li><a href="/cookies">cookies</a></li>
        </ul>
    </body>
</html>